* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black; 
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: black;
  width: 70%;             
  max-width: 900px;        
  padding: 50px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border: 1px solid black;
  font-size: 16px;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Resultado */
.result {
  margin-top: 30px;
  border-top: 1px solid black;
  padding-top: 20px;
}